<?xml version="1.0"?>
<ruleset name="quote-of-the-day">
    <description>Coding standards for quote-of-the-day.</description>

    <file>src</file>
    <file>tests</file>
    <file>quote-of-the-day.php</file>
    <file>uninstall.php</file>

    <rule ref="Apermo"/>
</ruleset>
